.add-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border-radius: 16px;
  letter-spacing: 1px;
  background: rgba(178, 54, 208, 0.56);
  padding: 4px 16px;
  color: white;

  position: relative;
  top: 8px;

  cursor: pointer;

  &:hover {
    background: rgba(239, 114, 249, 0.42);
  }
}
