.categories {
  column-gap: .7rem;
  row-gap: .5rem;
}

.button--outline {
  border: 1px solid #B236D0;
  color: #B236D0;
  font-weight: 500;
  background: white;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .7px;
}
